<%- include('header') %>

<main class="admin-page">
  <div class="topOfAdmin">
    <% if (user.isAdmin){ %>
    <a href="/admin" class="adminPageLink">
      Admin Page
    </a>
      
    <% } %>
    <h1 class="accountTitle">Account</h1>

  </div>

  <div class="account-container">
    <div class="accountProfile">
      <p class="forename"><strong>Forename:</strong> <%= user.forename %></p>
      <p class="surname"><strong>Surname: </strong><%= user.surname %></p>
      <p class="email"><strong>Email:</strong> <%= user.email %></p>
      <p class="DOB"><strong>DOB: </strong><%= user.dob %></p>
      <p class="currentScore"><strong>Score: </strong>478</p>
    </div>
  </div>
  
  <div class="logout-account">
    <a href="/logout" class="adminPageLink">Logout</a>
  </div>

  <div class="deleteUser">
    <a href="/deleteUser" class="adminPageLink">Delete Account</a>
  </div>

</main>

<%- include('footer') %>
