<%- include('header') %>

<main class="admin-page">
  <div class="topOfAdmin">
    <!-- <% if (user.isAdmin){ %>
    <a href="/admin" class="adminPageAdminLink">
      Admin Page
    </a>
      
    <% } %> -->
    <h1 class="accountTitle">Account</h1>

  </div>

  <div class = 'wingo'>
    <% if (user.score == 36){ %>
    <strong> Congratulations! You have won this round of Quacky Races!  </strong>
    <p> Details will follow shortly for you to claim your prize.</p>
    <% } %>
  </div>

  <div class="account-container">
    <div class="accountProfile">
      <p class="forename"><strong>Forename:</strong> <%= user.forename %></p>
      <p class="surname"><strong>Surname: </strong><%= user.surname %></p>
      <p class="email"><strong>Email:</strong> <%= user.email %></p>
      <p class="DOB"><strong>DOB: </strong><%= user.dob %></p>
      <p class="currentScore"><strong>Score: </strong><%= user.score %></p>
    </div>
  </div>
  
  <div class="logout-account">
    <a href="/logout" class="adminPageLogoutLink">Logout</a>
  </div>

  <div class="deleteUser">
    <a href="/deleteUser" class="adminPageDeleteLink">Delete Account</a>
  </div>

  

  
  <% if (user.isAdmin){ %>
    <div class="admin-account">
      <a href="/admin" class="adminPageAdminLink">
        Admin Page
      </a>
    </div>  
  <% } %>

</main>

<%- include('footer') %>
