<%- include('header') %>

<main>
  <h1>Account</h1>

  <div class="accountProfile">

      <p class="forename"><strong>Forename:</strong> <%= user.forename %></p>
      <p class="surname"><strong>Surname: </strong><%= user.surname %></p>
      <p class="email"><strong>Email:</strong> <%= user.email %></p>
      <p class="DOB"><strong>DOB: </strong><%= user.dob %></p>
      
      

  </div>

  <div class="logout">
      <a href="/logout">Logout</a>
  </div>

 
 
</main>

<%- include('footer') %>
