<%- include('header') %>

<main>

    <div class="intro">
        <h2 class="adminTitle">Admin Page</h2>
        <p class="inputPlacements">Input the placements of all ducks in all races</p>    
    </div>

	<div class="incorrectInfo">
		<%= message %>
	</div>

	<form action="/admin" method="POST">
        
        <div class="admin-event-container">
			<% events.forEach(function(event, eventNum) { %>
				<% eventNum++ %>
            <div class="admin-event-section">
                <div class="admin-event-runners">
                    <h2 class="admin-event-race-name"><%= event.location %></h2>
					<% event.duckID.forEach(function(duck, i){ %>
						<% i++ %>
					<p class="event-runner-name num<%= i %>"> <%= duckNames[duck] %></p>
						<% }) %>
				</div>
				<!-- /event-runners -->

				<div class="admin-event-user-form">
					<h3 class="admin-event-race-name">Results</h3>
						<div class="admin-input-box-area">
							<select class="admin-playOptions" name="adminrace<%= eventNum %>sel1">
								<option value="" selected disabled hidden>1st</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
							<select class="admin-playOptions" name="adminrace<%= eventNum %>sel2">
								<option value="" selected disabled hidden>2nd</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
							<select class="admin-playOptions" name="adminrace<%= eventNum %>sel3">
								<option value="" selected disabled hidden>3rd</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
							<select class="admin-playOptions" name="adminrace<%= eventNum %>sel4">
								<option value="" selected disabled hidden>4th</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
							<select class="admin-playOptions" name="adminrace<%= eventNum %>sel5">
								<option value="" selected disabled hidden>5th</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
							<select class="admin-playOptions" name="adminrace<%= eventNum %>sel6">
								<option value="" selected disabled hidden>6th</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
						</div>
						<!-- /input-box-area -->
				</div>
				<!-- /event-user-form -->
			</div>
			<!-- /event-section -->
			<% }) %>
		</div>
		<!-- /event-container -->

		<div class="admin-buttonSection">
			<button type="button" class="admin-resetButton">Reset</button>
			<input type="submit" value="Submit" class="admin-submitButton" />
		</div>

	</form>
</main>

<%- include('footer') %>