<%- include('header') %>

<main>
    <div class="intro">
            <h1>How to play</h1>
        <div class="playInstructions">
            <p>Select which 1st, 2nd and 3rd duck to finish each race.</p>
            <p>For all races, you will score 2 points for each duck you correctly pick for each place.</p>
            <p>If you pick the correct duck for each place on all races, you win the jackpot!</p>
        </div>
    </div>

    <div class="incorrectInfo">
        <%= message %>
    </div>

    <form action="/play" method="POST">
        <div class="event-container"> 
            <% events.forEach(function(event, raceNum) { %>             
                <% raceNum++ %>  
                
            <div class="event-section">
                <div class="event-runners">
                    <h2 class="event-race-name"><%= event.location %></h2>
                  
                    <% event.duckID.forEach(function(duck, i){ %>
                    <% i++ %>   
                    <p class="event-runner-name num<%= i %>"> <%= duckNames[duck] %> </p>
                    <% }) %>
                </div>
                <!-- /event-runners -->

                <div class="event-user-form">
                    <h2 class="event-race-name">Prediction</h3>
                    <div class="input-box-area">
                        <select class="playOptions" name="race<%= raceNum %>sel1">
                            <option value="" selected disabled hidden>1st</option>
                            <option value="<%= event.duckID[0] %>">1</option>
                            <option value="<%= event.duckID[1] %>">2</option>
                            <option value="<%= event.duckID[2] %>">3</option>
                            <option value="<%= event.duckID[3] %>">4</option>
                            <option value="<%= event.duckID[4] %>">5</option>
                            <option value="<%= event.duckID[5] %>">6</option>
                        </select>
                        <select class="playOptions" name="race<%= raceNum %>sel2">
                            <option value="" selected disabled hidden>2nd</option>
                            <option value="<%= event.duckID[0] %>">1</option>
                            <option value="<%= event.duckID[1] %>">2</option>
                            <option value="<%= event.duckID[2] %>">3</option>
                            <option value="<%= event.duckID[3] %>">4</option>
                            <option value="<%= event.duckID[4] %>">5</option>
                            <option value="<%= event.duckID[5] %>">6</option>
                        </select>
                        <select class="playOptions" name="race<%= raceNum %>sel3">
                            <option value="" selected disabled hidden>3rd</option>
                            <option value="<%= event.duckID[0] %>">1</option>
                            <option value="<%= event.duckID[1] %>">2</option>
                            <option value="<%= event.duckID[2] %>">3</option>
                            <option value="<%= event.duckID[3] %>">4</option>
                            <option value="<%= event.duckID[4] %>">5</option>
                            <option value="<%= event.duckID[5] %>">6</option>
                        </select>
                    </div>
                    <!-- /input-box-area -->
                </div>
                <!-- /event-user-form -->
            </div>
            <!-- /event-section -->
            <% }) %>
        </div>
        <!-- /event-container -->

        <div class="buttonSection">
            <button type="button" class="resetButton">Reset</button>
            <input type="submit" value="Submit" class="submitButton" />
        </div>
    </form>
</main>

<%- include('footer') %>