<%- include('header') %>

<main>
  <h1>Duck Profiles</h1>

  <div class="profile-container">
    <% ducks.forEach(function(duck){ %>
    <div class="profile-section">
      <div class="duckName"><h2><%= duck.duckName %></h2></div>
      <div class="duckImage"><img src="<%= duck.duckImage %>" alt="" /></div>

      <div class="duckBio">
        <p class="duckProfile"><%= duck.duckProfile %></p>
      </div>
    </div>
    
    <% }) %>
  </div>

  <!-- <div class="container">
  
          <% ducks.forEach(function(duck){ %>


            <h2 class="duckName"><%= duck.duckName %></h2>
            <p class = "duckProfile"><%= duck.duckProfile %></p>
            <img class = "duckImage"src="<%=duck.duckImage%>" alt="">
            <% }) %>
        

   
   
  </div> -->
</main>

<%- include('footer') %>
