<%- include('header') %>

<main>

  <div class="profile-container">
    <% ducks.forEach(function(duck){ %>
    <div class="profile-section">
      <div class="duckName"><h3><%= duck.duckName %></h3></div>
      <div class="duckImage"><img src="<%= duck.duckImage %>" alt="" /></div>

      <div class="duckBio">
        <p class="duckProfile"><%= duck.duckProfile %></p>
      </div>
    </div>

    <% }) %>
  </div>
  
</main>

<%- include('footer') %>
